<!-- _includes/footer.html -->
<footer class="bg-primary text-white py-4">
  <div class="container text-center">
    <div class="mb-3">
      <a href="https://www.unitedarchitects.ph/" target="_blank" class="me-3">
        <img src="{{ site.baseurl }}/images/uap_logo.png" alt="UAP Logo" style="max-width:125px;" />
      </a>
      <a href="https://www.facebook.com/manilacorinthianchapter" target="_blank">
        <img src="{{ site.baseurl }}/images/MCC logo.png" alt="MCC Logo" style="max-width:117px;" />
      </a>
    </div>
    <div class="mb-3">
      <i class="fa-solid fa-envelope me-2"></i>
      <a href="mailto:uapmccmembership@gmail.com" class="text-white">uapmccmembership@gmail.com</a>
      <span class="mx-3">|</span>
      <i class="fa-solid fa-map-marker-alt me-2"></i>Metro Manila, 1002
    </div>
    <div class="mb-3">
      <a href="https://www.facebook.com/manilacorinthianchapter" target="_blank" class="text-white me-3 fs-4">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/uapmanilacorinthian/" target="_blank" class="text-white me-3 fs-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCj0SstkYSHqjhMcoW5P7DSQ" target="_blank" class="text-white fs-4">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    <hr class="border-light" />
    <div class="small">&copy; 2025 UAP Manila Corinthian Chapter | All Rights Reserved</div>
  </div>
</footer>
