<!-- Overhauled Navbar: Separate Clickable Link & Toggle Button -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Primary navigation">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="{{ site.baseurl }}/"></a>

    <!-- Mobile drawer toggle -->
    <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Desktop menu -->
    <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link px-3$1" href="{{ site.baseurl }}/">Home</a>
        </li>

        <!-- About Us with separate link and toggle -->
        <li class="nav-item dropdown d-flex align-items-center">
          <a class="nav-link px-3$1" href="{{ site.baseurl }}/mcc_history/">About Us</a>
          <button class="btn p-0 m-0 ms-1 dropdown-toggle dropdown-toggle-split" type="button" id="aboutDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle About</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/BOD/">Board of Directors</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/mcc_history/">MCC History</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/national-officers/">National Officers</a></li>
          </ul>
        </li>

        <!-- Events & Activities -->
        <li class="nav-item">
          <a class="nav-link px-3$1" href="{{ site.baseurl }}/events-and-activities/">Events &amp; Activities</a>
        </li>

        <!-- News & Articles -->
        <li class="nav-item">
          <a class="nav-link px-3$1" href="{{ site.baseurl }}/news-and-articles/">News &amp; Articles</a>
        </li>

        <!-- Industry Partners -->
        <li class="nav-item">
          <a class="nav-link px-3$1" href="{{ site.baseurl }}/industry-partners/">Industry Partners</a>
        </li>

        <!-- FAQs with separate link and toggle -->
        <li class="nav-item dropdown d-flex align-items-center">
          <a class="nav-link px-3$1" href="{{ site.baseurl }}/faqs/">FAQs</a>
          <button class="btn p-0 m-0 ms-1 dropdown-toggle dropdown-toggle-split" type="button" id="faqDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle FAQ</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="faqDropdown">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/faqs/scholarship/">Scholarship</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/useful-files/">Useful Files</a></li>
          </ul>
        </li>

        <!-- Membership -->
        <li class="nav-item">
          <a class="nav-link px-3$1" href="{{ site.baseurl }}/membership/">Membership</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Offcanvas Drawer (mobile) -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link px-3$1" href="{{ site.baseurl }}/">Home</a></li>
      <li class="nav-item dropdown d-flex align-items-center">
        <a class="nav-link px-3$1" href="{{ site.baseurl }}/mcc_history/">About Us</a>
        <button class="btn p-0 m-0 ms-1 dropdown-toggle dropdown-toggle-split" type="button" id="offcanvasAboutDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle About</span>
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="offcanvasAboutDropdown">
          <li><a class="dropdown-item" href="{{ site.baseurl }}/BOD/">Board of Directors</a></li>
          <li><a class="dropdown-item" href="{{ site.baseurl }}/mcc_history/">MCC History</a></li>
          <li><a class="dropdown-item" href="{{ site.baseurl }}/national-officers/">National Officers</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link px-3$1" href="{{ site.baseurl }}/events-and-activities/">Events &amp; Activities</a></li>
      <li class="nav-item"><a class="nav-link px-3$1" href="{{ site.baseurl }}/news-and-articles/">News &amp; Articles</a></li>
      <li class="nav-item"><a class="nav-link px-3$1" href="{{ site.baseurl }}/industry-partners/">Industry Partners</a></li>
      <li class="nav-item dropdown d-flex align-items-center">
        <a class="nav-link px-3$1" href="{{ site.baseurl }}/faqs/">FAQs</a>
        <button class="btn p-0 m-0 ms-1 dropdown-toggle dropdown-toggle-split" type="button" id="offcanvasFaqDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle FAQ</span>
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="offcanvasFaqDropdown">
          <li><a class="dropdown-item" href="{{ site.baseurl }}/faqs/scholarship/">Scholarship</a></li>
          <li><a class="dropdown-item" href="{{ site.baseurl }}/useful-files/">Useful Files</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link px-3$1" href="{{ site.baseurl }}/membership/">Membership</a></li>
    </ul>
  </div>
</div>
